* {
  font-family: "Sedgwick Ave", cursive;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.column-one {
  background-color: #34495e;
  color: #f8f9f9;
  display: grid;
  padding: 5% 5% 5% 10%;
  justify-items: center;
  line-height: 1.5;
}

.column-two {
  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1616362355051-6a9f8c434fff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
img {
  width: 40%;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
}
h3 {
  padding: 10px 10px 10px 10px;
}

h4 {
  padding: 10px 10px 10px 10px;
}

p {
  text-indent: 50px;
}

@media (max-width: 1250px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }
}
